.header-top{
    background: $primary;
    a{
        color: #fff;
    }
    .dropdown-menu{
        background: $primary;
        text-align: center;
        .dropdown-item{
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }
    }
}
.header{
    box-shadow: 0 1px 0 rgba(12,13,14,0.15);
    .navbar{
        background-color: #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        font-weight: 700;
        //color: $secondary;
        &:hover{
            color: $primary;
        }
    }
    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: $primary;
    }
}